<%- model_class = Scan -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<%= link_to 'Reprocess', reprocess_scan_path(@scan), :class => 'btn btn-primary'  %>

<h2>Dependencies</h2>
<% if @scan.finished? %>
  <ul>
    <% @scan.dependencies.each do |dependency| %>
      <li>
        <strong><%= dependency.name %></strong> (<%= dependency.requirement %>)<br/>
        <%= dependency.info %><br/>
        Last version: <%= dependency.current_version %><br/>
        Licenses: <%= dependency.licenses %><br/>
        <%= link_to dependency.project_uri, dependency.project_uri %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div>Status: <span id="state"></span></div>

  <div class="progress" id="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
    </div>
  </div>
<% end %>

<h2>Gemfile</h2>
<pre><%= @scan.gemfile %></pre>

<script type="text/javascript">
  var updateStatus = function() {
    $.getJSON("<%= scan_path(@scan, format: :json) %>", function(data) {
      $("#state").text(data.state);
      if (data.state == 'finished') {
        $('#progress .progress-bar ').width(data.progress + '%');

        setTimeout(function(){
          location.reload();
        }, 1000 );
      } else {
        $('#progress .progress-bar ').width(data.progress + '%');
        setTimeout(function() { updateStatus(); }, 1000);
      }
    });
  };

  $( document ).ready(function() {
    <% unless @scan.finished? %>
    updateStatus();
    <% end %>
  });
</script>